.hero {
	height: 100vh;
	background-color: dodgerblue;
	position: relative;

	&__title {
		font-size: 5rem;
		color: violet;
	}

	&__text {
		max-width: 80%;

		p {
			color: yellow;
			font-size: 0.88rem;
			margin-top: 20px;
		}
	}
}
