.active {
	padding: 0.5rem !important;
	background-color: rgb(44, 44, 44) !important;
	color: rgb(86, 246, 227) !important;
	border-radius: 5px !important;
}

.hero {
	background-color: rgb(44, 44, 44);
	position: relative;

	&__title {
		font-size: 5rem;
		color: rgb(86, 246, 227);
	}

	&__text {
		max-width: 80%;

		h3 {
			color: rgb(255, 255, 255);
			margin-top: 20px;
		}
	}
}
